
<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Account" (click)="openAvatarDialog()" class="account-icon-btn">
    <ng-container *ngIf="imageService.avatar$ | async as avatar; else icon">
      <ng-container *ngIf="avatar.src; else icon">
        <img [src]="avatar.src" class="avatar-img" />
      </ng-container>
    </ng-container>
    <ng-template #icon>
      <mat-icon>account_circle</mat-icon>
    </ng-template>
  </button>

  <button mat-button routerLink="/" class="brand">
    <span class="brand-text">meBloggy</span>
  </button>

  <span class="spacer"></span>

  <button mat-icon-button aria-label="Upload" (click)="openUploadDialog()">
    <mat-icon>cloud_upload</mat-icon>
  </button>
</mat-toolbar>
