<div class="home-container">
  <mat-card class="showcase-card showcase-main">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <ng-container *ngIf="imageService.avatar$ | async as avatar">
          <img [src]="avatar.src" class="card-avatar" />
        </ng-container>
      </div>
      <mat-card-title>{{featuredImage?.title || 'Featured'}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="featuredImage?.blobSrc || featuredImage?.assetSrc || featuredImage?.src" alt="featured" (click)="openEditDialog()" class="main-showcase" />
    <mat-card-content>
      <p *ngIf="featuredImage?.description">{{featuredImage?.description}}</p>
    </mat-card-content>
  </mat-card>

  <div cdkDropList (cdkDropListDropped)="onShowcaseDrop($event)">
    <div *ngFor="let showcase of showcases; let i = index" class="showcase-section" cdkDrag>
      <div class="showcase-title showcase-title-above" (click)="onSectionTitleClick(showcase)">{{showcase.title}}</div>
      <div class="showcase-separator"></div>
      <mat-card class="showcase-card">
        <div class="horizontal-row large-thumbs-row">
          <ng-container *ngFor="let img of showcase.images">
            <img class="large-thumb" [src]="img.blobSrc || img.assetSrc || img.src" [alt]="img.title" (click)="onThumbClick(img)" />
          </ng-container>
        </div>
      </mat-card>
      <div class="showcase-separator"></div>
    </div>
  </div>
</div>
